{% extends 'base.html' %}
{% block content %}

<h1>Goal Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ goal.title }}</span>
        <p>DURATION</p>
        <p>Start date: {{ goal.start_date }}</p>
        <p>End date: {{ goal.end_date }}</p>
        <p>(Checkpoints will go here)</p>
    </div>
    <div class="card-action">
        <a href="{% url 'goals_update' goal.id %}">Edit Goal</a>
        <a href="{% url 'goals_delete' goal.id %}">Delete Goal</a>
    </div>
</div>

{% endblock %}