{% extends 'base.html' %}
{% block content %}

<div id="home-title">
    <div id="home-main-title">
        <h1>Welcome to</h1>
        <h1 id="aim-top">Aim</h1>
        <h1 id="align-bottom">Align</h1>
    </div>
    <h3 id="tagline">where your goals become reality</h3>
    <div class="home-bullets">
        <div class="bullet-points">
            <img class="target-arrow" id="target-1" src="../static/images/target-arrow.png"/>
            <h5 id="bullet-1">Easy to use</h5>
        </div>
        <div class="bullet-points">
            <img class="target-arrow" id="target-2" src="../static/images/target-arrow.png"/>
            <h5 id="bullet-2">Set your own timeline and deadlines</h5>
        </div>
        <div class="bullet-points">
            <img class="target-arrow" id="target-3" src="../static/images/target-arrow.png"/>
            <h5 id="bullet-3">Be automatically reminded</h5>
        </div>
    </div>
</div>
<div class="learn-more-section">
    <img id="down-finger" onclick="scrollDown()" src="../static/images/down-finger.png"/>
    <h4>Learn more</h4>
</div>
<div class="about-section">
    <ul class="how-to">
        <li>&#128073; To create a goal, click on "Set a New Goal".</li>
        <li>&#128073; Specify the title and date range.</li>
        <li>&#128073; Optionally, set your checkpoints. Make sure each checkpoint's date range falls within the date range of the overall goal.</li>
        <li>&#128073; That's it! AimAlign will send you automated reminders according to the schedules/deadlines you set.</li>
        <li>&#128073; You may create more goals and/or checkpoints! Also, please feel free to edit or delete any of them.</li>
    </ul>
</div>
<script>
    function scrollDown() {
        window.scrollTo(0, document.body.scrollHeight);
    }
</script>

{% endblock %}