/* base */
* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

main {
    animation: fade-in 2s;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav, footer.page-footer {
    background-color: #7ec835;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

#logout-btn {
    background-color: #7ec835;
    border: 0px;
    color: white;
}

/* home */
#home-title {
    margin: 50px 0 150px 0;
    text-align: center;
}

#home-main-title {
    display: flex;
    justify-content: center;
}

#aim-top {
    color: blue;
    margin-left: 15px;
    animation: from-top 3s ease-out, color-transform-blue 2s ease-out 3s forwards;
}

#align-bottom {
    color: rgb(243, 243, 0);
    animation: from-bottom 3s ease-out, color-transform-yellow 2s ease-out 3s forwards;
}

#tagline {
    animation: from-bottom 1s ease-out 4s backwards, fade-in 1s ease-in 4s backwards;
}

.home-bullets {
    margin: 0 auto;
    padding-top: 75px;
    width: 500px;
}

.bullet-points {
    display: flex;
    align-items: center;
}

.target-arrow {
    width: 1px;
    height: 1px;
    margin-right: 50px;
}

#target-1 {
    animation: stamp 0.25s linear 5s forwards;
}

#target-2 {
    animation: stamp 0.25s linear 6s forwards;
}

#target-3 {
    animation: stamp 0.25s linear 7s forwards;
}

#bullet-1 {
    animation: slide-from-right 0.25s ease-out 5.5s backwards;
}

#bullet-2 {
    animation: slide-from-right 0.25s ease-out 6.5s backwards;
}

#bullet-3 {
    animation: slide-from-right 0.25s ease-out 7.5s backwards;
}

.learn-more-section {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease-out 8s backwards;
}

#down-finger {
    width: 50px;
    height: auto;
    margin: 0 30px;
    animation: bounce 1s ease-in-out infinite;
}

.down-finger:hover {
    cursor: pointer;
}

.how-to {
    margin: 30px 0;
    font-size: 18px;
    list-style-type: circle;
    animation: fade-in 1s ease-out 8s backwards;
}

/* details */
#status-div {
    display: flex;
    align-items: center;
}

#status-circle {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    border-radius: 20px;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes from-top {
    from {transform: translateY(-1000px);}
    to {transform: translateY(0);}
}

@keyframes from-bottom {
    from {transform: translateY(1000px);}
    to {transform: translateY(0);} 
}

@keyframes color-transform-yellow {
    from {color: rgb(243, 243, 0)}
    to {color: #7ec835;}
}

@keyframes color-transform-blue {
    from {color: blue}
    to {color: #7ec835;}
}

@keyframes stamp {
    from {transform: scale(1000);}
    to {width: 50px; height: 50px;}
}

@keyframes slide-from-right {
    from {transform: translateX(5000px);}
    to {transform: translateX(0);}
}

@keyframes bounce {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
}